@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 59 130 246;
    --muted: 115 115 115;
    --accent: 236 254 255;
    --cyan: 0 255 255;
    /* hex value of rgb(254,254,91) color is  #FEFE5B  */
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
   .hover-bn {
    @apply hover:shadow-glass-sm hover:bg-opacity-0 hover:backdrop-blur-[0px] hover:text-cyan-100;
   }

  .custom-bg {
    @apply bg-cyan-200/50 border border-cyan-200 border-solid backdrop-blur-[6px];
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
